<mat-toolbar class="header mat-elevation-z4 q-bgColor-black q-color-white">
    <span>
        <a routerLink="/">
            <img class="logo" width="130" src="assets/logo/header-logo-questor.svg" alt="">
        </a>
    </span>

    <div class="header">
        <span class="title-group">
            <a>
                Estabelecimento 1000
            </a>
        </span>

        <span class="title-group">
            <a routerLink="">
                <img class="" src="../../../../assets/icons-menu/Empresa.svg" alt="">
            </a>
        </span>

        <span class="title-group">
            <a routerLink="">
                <img class="" src="../../../../assets/icons-action/Pesquisar.svg" alt="">
            </a>
        </span>

        <span class="title-group">
            <a routerLink="">
                <img class="" src="../../../../assets/icons-menu/Notificacoes.svg" alt="">
            </a>
        </span>

        <span class="title-group">
            <a routerLink="">
                <img class="" src="../../../../assets/icons-secondary/Ajuda.svg" alt="">
            </a>
        </span>
    </div>
</mat-toolbar>
