<mat-toolbar class="header position-between mat-elevation-z4 q-bgColor-black q-color-white">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/logo/header-logo-questor.svg" alt="">
        </a>
    </span>

    <!-- Seguir o desenvolvimento da página acima -->
    <!-- https://zeroheight.com/8a3643989/p/11fbcd-menus/b/014924 -->

    <div class="position-between">

        <span class="icon-group">
            <a class="q-font-sizeH5 marginR-10">
                Estabelecimento 1000
            </a>
            <a routerLink="">
                <img class="icon-size24" src="/assets/icons-menu/Empresa.svg" alt="">
            </a>
        </span>

        <span class="icon-group">
            <a routerLink="">
                <img class="icon-size24" src="/assets/icons-action/Pesquisar.svg" alt="">
            </a>
        </span>

        <span class="icon-group" matBadge="1" matBadgeSize="small">
            <a routerLink="">
                <img class="icon-size24" src="/assets/icons-menu/Notificacoes.svg" alt="">
            </a>
        </span>

        <span class="icon-group">
            <a routerLink="help-page">
                <img class="icon-size24" src="/assets/icons-secondary/Ajuda.svg" alt="">
            </a>
        </span>
    </div>
</mat-toolbar>

<mat-toolbar class="header position-between mat-elevation-z4 q-bgColor-white q-color-black">
    <span class="icon-group marginL-65">
        <a>
            <img class="icon-size24 icon-home" src="/assets/icons-menu/PaginaInicial.svg" alt="">
        </a>
        <a class="q-font-sizeH3">
            Níveis de acesso > Pagina 1 > Pagina 2
        </a>
    </span>
</mat-toolbar>
