.header {
    height: 48px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header a .logo {
    width: 89px;
    height: 18px;
    margin-left: 65px;
}

.header .icon-group {
    display: flex;
    padding-left: 25px;
}

.header .icon-home {
    margin-left: 48px;
    margin-right: 15px;
    font-weight: 500;
}