<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Gerenciador de empresas!
    </mat-card-title>

    <!-- Esse botão vai validar todas as informações obrigatórias
                para o gerenciados de empresas, avisar caso existam pendências
                Caso não houver pendências vai lançar um modal de confirmação
                Caso usuário confirme que os dados estão ok
                Os formulários serão bloqueados para novas inserções
            Apenas sob solicitação de liberação será possíve fazer novas inserções -->
    <button mat-raised-button (click)="formValidateAndSend">
        Validar e Enviar!
    </button>
    <mat-card-subtitle class="subtitle">

        <!-- Combinar com a mensagem do snack-bar -->
        <!-- https://material.angular.io/components/snack-bar/overview -->
        
        <!-- Paginação -->
        <!-- https://material.angular.io/components/paginator/overview -->  

        <mat-tab-group>
            <mat-tab label="Contador">conteúdo</mat-tab>
            <mat-tab label="Empresa">conteúdo</mat-tab>
            <mat-tab label="Estabelecimento">conteúdo</mat-tab>
            <mat-tab label="Socio">conteúdo</mat-tab>
            <mat-tab label="CfgeEmpresaGem">conteúdo</mat-tab>
        </mat-tab-group>

    </mat-card-subtitle>
</mat-card>