<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Cadastro de Periodos Aquisitivos
    </mat-card-title>
    <mat-card-subtitle class="subtitle">

        <!-- Combinar com a mensagem do snack-bar -->
        <!-- https://material.angular.io/components/snack-bar/overview -->
        
        <!-- Paginação -->
        <!-- https://material.angular.io/components/paginator/overview -->

        <mat-tab-group>
            <mat-tab label="Contador">conteúdo</mat-tab>
            <mat-tab label="Empresa">conteúdo</mat-tab>
            <mat-tab label="Estabelecimento">conteúdo</mat-tab>
            <mat-tab label="Socio">conteúdo</mat-tab>
            <mat-tab label="CfgeEmpresaGem">conteúdo</mat-tab>
        </mat-tab-group>

    </mat-card-subtitle>
</mat-card>