.sidenav {
    width: 56px;
}

.sidenav a {
    color: #FFF;
}

.sidenav .icon-menu {
    padding-top: 8px;
    padding-bottom: 20px;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
}
