mat-sidenav {
    width: 56px; 
    overflow-x: hidden;
    white-space: nowrap;
}
.sidenav-sidenavOpen { width: 330px; }

mat-nav-list {
    margin-top: 9px;
}

mat-tree {
    margin-top: 21px;
}

mat-tree-node a div {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

mat-tree-node a div .icon-name {
    display: flex;
}

mat-tree-node a div .icon-name .icon {
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

mat-tree-node a div .icon-name .name {
    margin-top: 3px;
    font-weight: 500;
}

mat-tree-node a div .icon-name .childName {
    margin-left: 25px;
}

mat-tree-node a div button {
    background-color: transparent;
    border: none;
}

mat-sidenav-content {
    margin-left: 55px;
    padding: 16px;
}