.sidenav {
    position: 65px;
    opacity: 100%;
    width: 56px;
}

.sidenav a {
    color: #FFF;
}

.sidenav a img {
    width: 50px;
}

.sidenav .icon-menu {
    padding-top: 24px;
    padding-bottom: 24px;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}